[submodule "NorbitBugTracker"]
	path = NorbitBugTracker
	url = git@github.com:A1Asriel/NorbitBugTracker.git
[submodule "nbtwebfrontend"]
	path = nbtwebfrontend
	url = git@github.com:A1Asriel/nbtwebfrontend.git
[submodule "NorbitBugTrackerRewrite"]
	path = NorbitBugTrackerRewrite
	url = git@github.com:A1Asriel/NorbitBugTrackerRewrite.git
